extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{title}

        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in technologies
            li #{tech}

        a.button.expanded(href=`${preview}` target="_blank") Live Demo
        a.button.expanded(href=`${repository}` target="_blank") GitHub Repo


    each image, index in images
      if index === 0

      else
        img.image(src=`/static/${image}`)
